.navbar {
    background-color: var(--secondary-color);
    width: 100vw;
    position: fixed;
    top: 0;

    z-index: 5;
}

div.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    margin: 0;
}

.nav-link {
    padding: 15px 15px;
    display: block;

    transition: all .3s ease-out;
}

.nav-link:hover {
    background-color: var(--hover-color-green);
    color: var(--tercary-color);
}